/* Header Styling */
.header {
  position: absolute;
  top: 10px;
  right: 20px;
  width: auto;
  z-index: 1000;
  /* display: flex; */
  align-items: center;
  gap: 10px;

  /* border-radius: 50%; */

  color: white;
}
/* Profile Image */
.profile-image {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 2px solid white;
  cursor: pointer;
}

/* Dropdown Menu */
.dropdown-menu {
  position: absolute;
  right: 0;
  top: 50px;
  background: white;
  color: black;
  border-radius: 8px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  padding: 10px;
  min-width: 150px;
  text-align: left;
  z-index: 1000;
}

.profile-name {
  font-weight: bold;
  margin-bottom: 10px;
}

/* Logout Button */
.logout-btn {
  display: flex;
  align-items: center;
  gap: 8px;
  background-color: red;
  color: white;
  border: none;
  padding: 8px;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
}

.logout-btn:hover {
  background-color: darkred;
}

/* Login Button */
.login-btn {
  display: flex;
  align-items: center;
  gap: 8px;
  background-color: rgb(0, 0, 0);
  color: white;
  border: none;
  padding: 8px;
  border-radius: 5px;
  cursor: pointer;
}

.login-btn:hover {
  background-color: rgb(32, 32, 32);
}
