.home-layout {
  display: flex;
}

.sidebar {
  min-width: 64px;
  height: 100vh;
  overflow: hidden;
}

.home-container {
  flex-grow: 1;
  margin-left: 64px; /* Adjust based on sidebar width */
  text-align: center;
  background-color: #131a24;
  color: #f9f9f9;
  padding: 80px;
}

.title {
  font-size: 2.5rem;
  margin-bottom: 20px;
  font-weight: bold;
}

.content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.description {
  font-size: 1.2rem;
  line-height: 1.6;
  max-width: 60%;
}

.promo-image {
  max-width: 500px;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}


.typing-title {
  font-size: 3rem;  /* Increase text size */
  font-weight: bold; /* Make it bold */
  color: #ffffff;  /* Keep it visible */
  width: 30ch;  /* Ensure enough space for full text */
  font-family: monospace;
  white-space: nowrap; /* Prevent text wrapping */
  overflow: hidden;
  border-right: 3px solid white; /* Cursor effect */
  animation: typing 3s steps(30) infinite alternate-reverse, blink 0.6s step-end infinite;
}

/* Typing animation */
@keyframes typing {
  from {
    width: 0ch;
  }
}

/* Blinking cursor effect */
@keyframes blink {
  50% {
    border-color: transparent;
  }
}



